.wrap {
    width: 100%;
}
.review_wrap {
    width: 100%;
}
.review_wrap_border {
    border-bottom: 1px solid var(--dark-purple);
}
.pagination_btns_wrap {
    display: flex;
    justify-content: center;
}
