.statusesTabs{
    display: flex;
    gap: 16px;
    border-bottom: 1px solid #EEEFF2;
    padding: 14px 18px 0 18px
}

.statusesTabs_tab{
    color: #718096;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.2px;
    padding: 8px;
    cursor: pointer
}

.activeTab{
    color: #6566AC;
    font-weight: 700;
    letter-spacing: 0.3px;

    border-bottom: 2px solid #6566AC;
}