.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.headerWrapper{
    position: fixed;
    width: 100%;
    z-index: 20;
}

.container{
    width: 100%;
    flex: 1 1 auto;
    margin-top: 120px;
}

@media (min-width: 744px) {
    .container {
    margin-top: 172px;
    }
}

@media (min-width: 1280px) {
    .container {
    margin-top: 136px;
    }
}
