.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-property: opacity;
    z-index: 20;
}

.cart {
    position: absolute;
    width: 320px;
    top: 0;
    right: 0;
    background-color: white;
}
@media (min-width: 744px) {
    .cart {
        width: 394px;
    }
}

.cart__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16.5px 24px;
    background-color: #aac4ff;
}

.cart__title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.cart__cross-btn {
    background-color: transparent;
}

.cart__box {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.cart__list {
    max-height: 300px;
    overflow-y: auto;
}

.cart__list-item {
    display: flex;
    gap: 0.75rem;
}

.cart__list-item:not(:last-child) {
    margin-bottom: 1.25rem;
}

.cart__item-description {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cart__product-title {
    font-size: clamp(0.875rem, 3vw, 1rem);
}
@media (min-width: 744px) {
    .cart__product-title {
        font-size: clamp(1rem, 3vw, 1.125rem);
    }
}

.cart__product-description,
.cart__product-article {
    font-size: 0.75rem;
    color: #8e8e8e;
}

.cart__counter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 744px) {
    .cart__counter-wrapper {
        gap: 8.9375rem;
    }
}

.cart__product-counter {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.4375rem;
    border: 1px solid #8e8e8e;
}

.cart__product-price-wrapper {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.cart__product-price {
    font-size: 0.875rem;
    line-height: 1.5;
}

.cart__total-price-wrapper {
    display: flex;
    justify-content: space-between;
}

.cart__total-price-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.cart__total-price {
    font-weight: 700;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
}

.cart__btn-wrapper {
    border-top: 1px solid #dee0e3;
}

.cart__btn {
    width: 256px;
    height: 48px;
    margin: 2rem 2rem;
    border-radius: 10px;
    background: #d2daff;
    border: #d2daff;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;
}
@media (min-width: 744px) {
    .cart__btn {
        width: 305px;
        height: 53px;
        margin: 2rem 2.78125rem;
        font-size: 1rem;
        line-height: 0.16;
    }
}

.cart__btn:hover,
.cart__btn:focus {
    background-color: #84a9fc;
    border: 1px solid #84a9fc;
    transition: all 300ms ease-in-out;
}

.cart__input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    display: block;
    width: 3ch;
}

.cart__input::-webkit-inner-spin-button,
.cart__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.cart__input-btn {
    background: transparent;
}
