.backdrop {
    content: '';
    position: fixed;
    inset: 0 auto auto 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 20;
}

.cart {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0 0 auto auto;
    background-color: var(--white-white);

    @media screen and (width >= 744px) {
        width: 394px;
        height: auto;
    }
}

.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--blue);
}

.cart__title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-white);
}

.cart__btn--transparent,
.counter__btn {
    background: transparent;
}

.cart__container {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    padding: 1.5rem 1rem;

    &:not(.cart__container--empty) {
        border-block-end: 1px solid #dee0e3;
    }
}

.cart__list {
    max-height: 300px;
    overflow-y: auto;
}

.cart__item {
    display: flex;
    align-items: stretch;
    gap: 0.75rem;

    &:not(:last-child) {
        margin-block: 1.25rem;
    }
}

.cart__item-img {
    max-width: 100%;
    object-fit: cover;
}

.cart__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.cart__item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cart__item-title {
    font-family: 'Noto Sans';
    font-size: clamp(0.875rem, 0.8393rem + 0.1786vi, 1rem);
}

.cart__item-description,
.cart__item-vendor {
    font-size: 0.75rem;
    color: #8e8e8e;
}

.cart__item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (width >= 744px) {
        gap: 8.9375rem;
    }
}

.counter {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart__counter {
    padding: 0.4375rem;
    border: 1px solid #8e8e8e;
}

.counter__input::-webkit-inner-spin-button,
.counter__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.counter__input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    display: block;
    width: 3ch;
}

.cart__item-price {
    font-size: 0.875rem;
    line-height: 1.5;
}

.cart__total {
    display: flex;
    justify-content: space-between;
}

.cart__price-label {
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.cart__price {
    font-size: clamp(0.75rem, 3vw, 1.5rem);
}

.cart__btn-wrapper {
    border-top: 1px solid #dee0e3;
}

.cart__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max(256px, 77.411%);
    padding-block: 1rem;
    margin: 2rem auto;
    border-radius: 10px;
    background: var(--light-blue);
    transition: background 300ms;

    & > strong {
        font-size: clamp(0.75rem, 0.6786rem + 0.3571vi, 1rem);
        color: var(--black);
    }
}

.cart__btn:hover,
.cart__btn:focus {
    background: var(--dark-blue);
}

.cart__icon {
    width: max(158px, 48.223%);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 auto 2rem auto;
}

.cart__message {
    margin: 0 auto;
    padding-block: 1.5rem;
    align-self: center;
    text-align: center;
}
