.footerWrap {
    background-color: #AAC4FF;
    color: #FEFEFE;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    padding: 32px 0px 35px 0px;
}
@media (min-width: 744px) {
    .footer {
        padding-bottom: 30px;
    }
}
@media (min-width: 1280px) {
    .footer {
        max-width: 1440px;
        margin: 0 auto;
        align-items: stretch;
        gap: 37px;
        padding: 48px 78px 30px 78px;
    }
}
@media (min-width: 1440px) {
    .footer {
        padding-bottom: 32px ;
    }
}

.footerListWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1280px) {
    .footerListWrapper {
        width: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.toUsersList,
.navList,
.contactsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0px 80px;
}
@media (min-width: 1280px) {
    .toUsersList,
    .navList,
    .contactsList {
        width: auto;
        gap: 16px;
        align-items: flex-start;
    }
}

.navList,
.contactsList {
    border-top: 1px solid white;
    padding: 22px 0;
}
@media (min-width: 1280px) {
    .navList,
    .contactsList {
        border-top: 0px solid white;
        padding: 0;
    }
}

.toUsersList {
    padding: 30px 0 22px 0;
}
@media (min-width: 1280px) {
    .toUsersList {
        padding: 0;
    }
}

.footerListHeader {
    font-size: 16px;
    font-weight: 600;
}
@media (min-width: 1280px) {
.footerListHeader {
        font-size: 20px;
}
} 

.footerListLink{
    font-size: 12px;
    cursor: pointer;
}
@media (min-width: 744px) {
    .footerListLink {
        font-size: 14px;
    }
}
@media (min-width: 1280px) {
    .footerListLink {
        font-size: 16px;
    }
}

.telLink {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #FEFEFE;
}

.fbIcon{
    margin-left: 23px;
}

.rights {
    font-size: 14px;
}
@media (min-width: 1280px) {
    .rights {
        font-size: 16px;
    }
}