.feedbackForm {
    background-color: var(--light-blue-gray);
    padding: 32px;
    margin-block: 32px 64px;
}

@media (width >= 744px) {
    .feedbackForm {
        padding-block: 64px;
        margin-block-start: 64px;
    }
}

@media (width >= 1280px) {
    .feedbackForm {
        border-radius: 10px;
    }
}

@media (width >= 1440px) {
    .feedbackForm {
        padding-block: 56px;
    }
}

.feedbackFormTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
}

@media (width >= 1280px) {
    .feedbackFormTitle {
        font-size: 20px;
        font-weight: 700;
    }
}

.feedbackFormText {
    font-size: 14px;
}

.rating {
    display: flex;
    margin-top: 17px;
    margin-bottom: 40px;
}

@media (width >= 744px) {
    .rating {
        margin-bottom: 26px;
    }
}

@media (width >= 1280px) {
    .rating {
        margin-top: 16px;
    }
}

.starIcon {
    width: 28px;
    height: 20px;
    cursor: pointer;
    padding-right: 8px;
}

.ratingItem {
    display: none;
}

.textareaContainer {
    max-width: 850px;
    min-height: 185px;
    position: relative;
}

.textarea {
    max-width: 850px;
    min-height: 185px;
    width: 100%;
    height: 100%;
    padding: 19px 0px 0px 22px;
    border-radius: 10px;
    border: 1px solid #8e8e8e;
    font-size: 14px;
    margin-top: 20px;
    resize: none;
}

@media (width >= 744px) {
    .textarea {
        min-height: 250px;
        margin-top: 25px;
    }
}

@media (width >= 1280px) {
    .textarea {
        margin-top: 24px;
    }
}

.symbolsAmount {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.textareaError {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgb(183, 60, 60);
}

.feedbackFormBtn {
    width: 225px;
    height: 53px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--blue);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15),
        0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.feedbackFormBtn:hover,
.feedbackFormBtn:focus,
.feedbackFormBtn:active {
    background-color: var(--dark-blue);
}
