.orderItem {
    padding: 40px 12px;
    border-inline-start: 3px solid;
    background-color: var(--light-blue-gray);
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @media screen and (width >= 1280px) {
        grid-template-columns: 1fr max-content;
    }
}

.statusText {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
        content: '';
        width: 1px;
        aspect-ratio: 1;
        display: block;
        border: 3px solid;
        border-radius: 100%;
    }
}

.statusText.statusText1::before,
.statusText1 {
    border-color: #ffa756;
}

.statusText.statusText3::before,
.statusText3 {
    border-color: #6226ef;
}

.statusText.statusText4::before,
.statusText4 {
    border-color: #00b69b;
}

.productList {
    min-width: 264px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 25px 12px;
    background-color: var(--white);
    border-radius: 10px;

    @media screen and (width >= 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width >= 1280px) {
        grid-area: 2/1/3/2;
    }
}

.productListItem {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    align-items: center;
    gap: 1rem;
}

.productDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.productName {
    font-size: 16px;
    font-weight: 500;
}

.productPrice {
    font-size: 14px;
}

.productArticle {
    font-size: 12px;
    color: #8e8e8e;
}

.orderDetailsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.productListImg {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

.orderSum {
    order: -1;
    font-size: 18px;
    font-weight: 500;
    gap: 8px;

    @media screen and (width >= 768px) {
        order: 0;
    }
}

.orderDetailsBtn {
    min-width: 264px;
    max-width: 307px;
    padding: 16px 0;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    background: var(--blue);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
        0px 1px 2px 0px rgba(0, 0, 0, 0.3);

    @media screen and (width >=1280px) {
        align-self: end;
    }
}

@media (min-width: 744px) {
    .orderItem {
        padding: 24px 32px;
    }

    .statusMark {
        width: 4px;
    }

    .statusText {
        font-size: 16px;
        font-weight: 400;
    }

    .orderContent {
        padding-top: 24px;
    }

    .productList {
        min-width: 600px;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 20px;
    }

    .productListImg {
        width: 107px;
        height: 120px;
    }

    .productName {
        font-size: 14px;
        font-weight: 400;
    }

    .orderSum {
        font-size: 20px;
        font-weight: 400;
    }

    .orderDetailsWrapper {
        align-items: flex-start;
    }
}

@media (min-width: 1280px) {
    .productList {
        width: 676px;
        padding: 27px 50px;
        column-gap: 10px;
    }

    .orderContent {
        padding: 24px 25px;
        flex-direction: row;
        column-gap: 40px;
    }

    .productListItem {
        max-width: 280px;
        gap: 20px;
    }

    .productListImg {
        width: 118px;
        height: 135px;
    }

    .productName {
        font-weight: 500;
    }

    .productPrice {
        font-size: 12px;
    }

    .productDescription {
        justify-content: flex-start;
    }

    .orderSum {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .productList {
        width: 772px;
        padding: 27px 58px;
        column-gap: 24px;
    }

    .productListImg {
        width: 135px;
    }

    .productName {
        font-size: 16px;
    }

    .productPrice {
        font-size: 14px;
    }

    .orderSum {
        font-size: 24px;
    }

    .productListItem {
        max-width: 320px;
        gap: 24px;
    }
}
