.banner{
    padding-bottom: 48px;
}

.banner_container{
    background-color: #EEF1FF;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 409px;
    overflow: hidden;
}

.banner_leftPart{
    position: relative;
    width: 50%
}

.banner_title{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 5.86%;
    left: 16.6%;
}

.banner_highTitle, .banner_lowTitle{
    font-family: Oswald;
    font-weight: 400;
    color: #6566AC;
    font-size: 36px;
}

.banner_presentBox{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 72.2%;
    min-width: 104px;
    max-width: 125px;
}

.banner_starContainerThirty{
    position: absolute;
    top: 40%;
    right: 34.72%;
}

.banner_starThirty, .banner_starFifty, .banner_starTwentyFive{
    width: 18.12vw;
    height: 18.12vw;
    min-width: 58px;
    min-height: 58px;
    max-width: 70px;
    max-height: 70px;
}

.banner_starPromo{
    color: #6566AC;
    font-family: Oswald;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    font-size: 16px;
    font-weight: 400;
}

.banner_rightPart{
    position: relative;
    width: 50%;
}

.banner_starContainerFifty{
    position: absolute;
    top: 9%;
    right: 25.69%;
}

.banner_starContainerTwentyFive{
    position: absolute;
    bottom: 9%;
    right: 25.69%;
}

.banner_product{
    position: absolute;
    width: 138.88%;
    min-width: 200px;
    max-width: 330px;
    top: 50%;
    left: -34.5%;
    transform: translateY(-50%);
}

@media screen and (min-width: 744px) {
    .banner{
        padding-bottom: 64px;
    }

    .banner_container{
        min-height: 379px;
    }

    .banner_title{
        gap: 6px;
        top: 8.44%;
        left: 9.41%;
    }

    .banner_highTitle, .banner_lowTitle{
        font-size: 44px;
    }

    .banner_presentBox{
        bottom: -7%;
        left: 0;
        width: 53.52%;
        min-width: 182px;
        max-width: 198px;
    }

    .banner_starContainerThirty{
        top: 50%;
        right: auto;
        left: 58.52%;
        transform: translateY(-50%);
    }

    .banner_starThirty, .banner_starFifty, .banner_starTwentyFive{
        width: 13.72vw;
        height: 13.72vw;
        min-width: 102px;
        min-height: 102px;
        max-width: 130px;
        max-height: 130px;
    }

    .banner_starPromo{
        font-size: 28px;
    }

    .banner_starContainerFifty{
        top: 11.97%;
        left: -7.94%;
        right: auto;
    }

    .banner_starContainerTwentyFive{
        bottom: 11.97%;
        left: -7.94%;
        right: auto;
    }

    .banner_product{
        width: 91.17%;
        min-width: 310px;
        max-width: 450px;
        left: 16.47%;
    }
}

@media screen and (min-width: 1280px) {
    .banner{
        padding-bottom: 120px;
    }

    .banner_container{
        min-height: 617px;
    }

    .banner_title{
        gap: 24px;
        top: 6.48%;
        left: 19.28%;
    }

    .banner_highTitle{
        font-size: 44px;
    }

    .banner_lowTitle{
        font-size: 64px;
    }

    .banner_presentBox{
        bottom: 0;
        left: 0;
        width: 54.10%;
        min-width: 303px;
        max-width: 310px;
    }

    .banner_starContainerThirty{
        top: 34.19%;
        left: 57.14%;
        transform: none;
    }

    .banner_starThirty, .banner_starFifty, .banner_starTwentyFive{
        width: 11.64vw;
        height: 11.64vw;
        min-width: 149px;
        min-height: 149px;
        max-width: 176px;
        max-height: 176px;
    }

    .banner_starPromo{
        font-size: 36px;
    }

    .banner_starContainerFifty{
        top: 6.48%;
        left: -12.3%;
        right: auto;
    }

    .banner_starContainerTwentyFive{
        bottom: 6.48%;
        left: -12.3%;
        right: auto;
    }

    .banner_product{
        width: 75.35%;
        min-width: 422px;
        max-width: 480px;
        left: 13%;
    }
}

@media screen and (min-width: 1440px) {
    .banner_presentBox{
        width: 47.34%;
    }

    .banner_starContainerThirty{
        top: 37.8%;
        left: 50%;
    }

    .banner_starThirty, .banner_starFifty, .banner_starTwentyFive{
        width: 13.75vw;
        height: 13.75vw;
        min-width: 176px;
        min-height: 176px;
    }

    .banner_starPromo{
        font-size: 44px;
    }

    .banner_starContainerFifty{
        top: 6.87%;
        left: -18%;
    }

    .banner_starContainerTwentyFive{
        bottom: 6.87%;
        left: -18%;
    }

    .banner_product{
        width: 73.43%;
        min-width: 470px;
        max-width: 500px;
        left: 14.37%;
    }
}
