.accountList {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    padding-top: 6px;
    padding-bottom: 9px;
    border-radius: 4px;
    z-index: 10;
    background-color: #fff;
}

.accountList::after {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: 50%;
    border: 6px solid transparent;
    top: -15px;
    border-bottom: 10px solid #fff;
}

.accountListItem {
    padding: 7px 16px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.accountListItem:hover,
.accountListItem:focus {
    background-color: #EEF1FF;
}

.accountListLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.accountLinkText{
    white-space: nowrap;
}