.headerSection{
    width: 100%;
    background-color: #AAC4FF;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 16px;
    margin: 0 auto;
}

@media (min-width: 744px) {
    .header {
        padding: 34px 36px;
    }
}

@media (min-width: 1280px) {
    .header {
        max-width: 1440px;
        padding: 22px 80px;
        align-items: flex-end
    }
}

.logoWrapper{
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.headerInfoBloc{
    display: flex;
    gap: 24px;
}

.headerList{
    display: flex;
    align-items: center;
    gap: 24px;
}

.headerListItem{
    position: relative;
}

.telLink{
    display: flex;
    gap: 8px;
    align-items: center;
    color: #FEFEFE;
    font-size: 20px;
}

.headerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}