.header{
    display: flex;
    align-items: center;
    padding: 22px 80px;
    background-color: #AAC4FF;
}

.logo {
    margin-right: 122px;
    font-size: 44px;
    color: #FEFEFE;
    cursor: pointer;
}

.inputWrapper{
position: relative;
}

.searchIcon{
    position: absolute;
    top: 7px;
    right: 24px;
}

.headerSearchInput {
    width: 608px;
    height: 37px;
    padding-left: 24px;
    border: 1px solid #6566AC;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.headerList{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 24px;
}

.telLink{
    display: flex;
    gap: 8px;
    align-items: center;
    color: #FEFEFE;
}

.headerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}