.headerSection{
    width: 100%;
    background-color: #AAC4FF;
}

@media (min-width: 320px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        margin: 0 auto;
    }
}

@media (min-width: 834px) {
    .header {
        padding: 36px 64px 30px 64px;
    }
}

@media (min-width: 1280px) {
    .header {
        max-width: 1440px;
        padding: 22px 80px;
    }
}

.logoWrapper{
    display: flex;
    align-items: center;
    gap: 24px;

}

.headerInfoBlock{
    display: flex;
    gap: 24px;
}

.headerList{
    display: flex;
    align-items: center;
    gap: 24px;
}

.headerListItem{
    position: relative;
}

.telLink{
    display: flex;
    gap: 8px;
    align-items: center;
    color: #FEFEFE;
}

.headerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}