.allContent {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.allCardLink {
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
}
.cardTop {
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 8px 8px 15px ;
    align-items: center;
    background: var(--white);
}
.cardBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11px;
    justify-content: space-between;
    height: 32%;
}
.iconsBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
}
.wishListIcon {
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.wishListIcon svg {
    width: 20px;
    height: 20px;
}
.hitIcon {
    width: 30px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 33px;    
    color: var(--white);
    text-align: center;
    
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    background: var(--blue);
}
.discountIcon {
    color: var(--white);
    font-family: Oswald;
    position: relative;
    font-size: 7.442px;
    font-style: normal;
    font-weight: 500;
}
.discountIcon svg{
    width: 24px;
    height: 24px;
}
.discountIcon p {
    position: absolute;
    top: 8px;
    left: 4px;
}
.imageContainer {
    margin: 0 auto;
    width: 100%;
    height: 119px;
}
.imageContainer img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.featuresBar {
    display: flex;
    width: 100%;
    text-align: center;
    min-height: 12px;
    padding: 2px 8px;
    justify-content: space-between;
    align-items: center;

    margin-top: 11px;
    border-radius: 27px;
    background-color: var(--light-blue-gray);
}
.featuresBarElement{
    margin: 0 5px;
    width: fit-content;
    color: var(--black);

    font-size: 7px;
    font-style: normal;
    font-weight: 500;
} 
.title {
    text-align: center;
    color: var(--black);

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.prices {
    display: flex;
    align-items: end; 
    line-height: 0.7;
}
.price {
    font-style: normal;
    font-weight: 700;
}
.currentPrice {
    font-size: 16px;
    color: var(--blue);
}
.oldPrice {
    font-size: 12px;
    margin-right: 10px; 
    color: var(--light-blue);
    text-decoration-line: line-through;
}
.buyBtn {
    padding: 13px 24px;
    width: fit-content;
    background-color: var(--blue);
    border-radius: 13px;

    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

@media screen and (min-width: 744px) {
    .cardTop {
        padding: 8px 12px 14px ;
        height: 70.7%;
    }
    .cardBottom {
        padding-top: 16px;
        height: 29.3%;
    }
    .iconsBar {
        padding: 0;
    }
    .discountIcon {
        font-size: 9.382px;
    }
    .discountIcon svg{
        width: 39.5px;
        height: 39.5px;
    }
    .discountIcon p {
        top: 15px;
        left: 9px;
    }
    .hitIcon {
        margin-top: 5px;
        width: 35px;
        height: 19px;
        font-size: 11.079px;
    }
    .wishListIcon {
        margin-top: 8px;
    }
    .wishListIcon svg {
        width: 17px;
        height: 17px;
    }
    .imageContainer {
        width: 91%;
        height: 143px;
    }
    .featuresBar {
        min-height: 14px;
        padding: 2px 10%;
    }
    .featuresBarElement{
        font-size: 9.694px;
    } 
    .title {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .cardTop {
        height: 72.5%;
        padding : 18px 18px 19px ;
    }
    .cardBottom {
        height: 27.5%;
        padding-top: 20px;
    }
    .iconsBar {
        padding: 0;
    }
    .discountIcon {
        font-size: 13px;
    }
    .discountIcon svg{
        width: 50px;
        height: 50px;
    }
    .discountIcon p {
        top: 18px;
        left: 11px;
    }
    .hitIcon {
        height: 24px;
        width: 44px;
        margin-top: 6px;
        font-size: 13px;
    }
    .wishListIcon svg{
        width: 20px;
        height: 20px;
    }
    .leftIcon {
        width: 50px;
        height: 28px;
        padding: 4px 14px;
        font-size: 16px;   
    }
    .imageContainer {
        width: 85%;
        height: 179px;
    }
    .featuresBar {
        min-height: 17px;
    }
    .featuresBarElement{
        font-size: 12.188px;
    } 
    .title {
        font-size: 18px;
    }
    .prices {
        margin-bottom: 7px;
    }
    .currentPrice {
        font-size: 20px;
    }
    .oldPrice {  
        margin-right: 5px; 
        font-size: 16px;
    }
    .buyBtn {
        font-size: 16px;
    }
    .buyBtn:hover {
        background: var(--dark-blue);
    }
}

@media screen and (min-width: 1440px) {
    .iconsBar {
        align-items: center;
    }
    .cardTop {
        height: 73%;
        padding : 13px 18px 21px 
    }
    .discountIcon {
        font-size: 16px;
    }
    .discountIcon svg{
        width: 55px;
        height: 55px;
    }
    .hitIcon {
        margin-top: 11px;
        width: 43.53px;
        height: 24.377px;
        font-size: 13.93px;
    }
    .wishListIcon {
        margin-top: 11px;
    }
    .wishListIcon svg{
        width: 24px;
        height: 24px;
    }
    .imageContainer {
        width: 80%;
        height: 206px;
    }
    .featuresBar {
        min-height: 20px;
    }
    .featuresBarElement {
        font-size: 14px;
    }
    .cardBottom {
        height: 27%;
        padding-top: 24px;
    }
    .title {
        font-size: 20px;
    }
    .prices {
        margin-bottom: 8px;
    }
    .currentPrice {
        font-size: 24px;
    }
    .oldPrice {
        font-size: 19px;
    }
}
