.wrap {
    width: 100%;
    height: 382px;

    background-color: var(--white-white);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 48px;
    filter: drop-shadow(0px 0px 100px var(--blue-transparent));
}
.titleContainer {
    text-align: center;
    color: var(--dark-purple);
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.bodyContainer {
    overflow: hidden;
    width: 100%;  
    /* border: 1px solid red */
}
.body {
    height: 294px;
    transition: 0.5s;
    position: relative;
    width: fit-content;
    display: flex;
}
.productWrap {
    height: 100%;
}

@media screen and (min-width: 744px) {
    .wrap {
        height: 462px;
    }
    .titleContainer {
        font-size: 28px;
    }
    .container {
        padding-bottom: 51px;
    }
    .body {
        height: 355px;
    }
}

@media screen and (min-width: 1280px) {
    .wrap {
        height: 630px;
    }
    .titleContainer {
        font-size: 36px;
    }
    .container {
        padding-bottom: 96px;
    }
    .body {
        height: 455px;
    }
    .productWrap {
        transition: 0.5s;
        height: 435px;
    }
    .productWrap:hover {
        height: 455px;
    }
    .chevron  {
        display : block;
        z-index: 1;
        position: absolute;
        width: 43.75px;
        height: 39.611px;
        top: 215px;
    }
    .chevron svg {
        width: 100%;
        height: 100%;
    }
    .chevronRight {
        right: 80px;
    }
    .chevronLeft {
        left: 80px;
    }
}

@media screen and (min-width: 1440px) {
    .wrap {
        height: 708px;
    }
    .container {
        padding-bottom: 112px;
    }
    .body {
        height: 517px;
    }
    .productWrap {
        height: 497px;
    }
    .productWrap:hover {
        height: 517px;
    }
    .chevron  {
        width: 50px;
        height: 50px;
        top: 230px;
    }
}
