.wrap {
    width: 100%;
    height: 760px;

    background-color: var(--white-white);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
    filter: drop-shadow(0px 0px 100px var(--blue-transparent));
}
.titleContainer {
    text-align: center;
}
.titleContainer {
    color: var(--dark-purple);
    
    /* H4 Medium 36px */
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}
.bodyContainer {
    overflow: hidden;
    width: 100%;  
    /* border: 1px solid red */
}
.body {
    height: 520px;
    transition: 0.5s;
    position: relative;
    width: fit-content;
    display: flex;
}
.productWrap {
    transition: 0.5s;
    height: 500px;
}
.productWrap:hover {
    height: 520px;
}
.chevron  {
    z-index: 1;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 296px;
}
.chevron svg {
    width: 100%;
    height: 100%;
}
.chevronRight {
    right: 5%;
}
.chevronLeft {
    left: 5%;
}

@media screen and (max-width: 1200px) {
    .chevron  {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 834px) {
    .wrap {
        height: 460px;
    }
    .titleContainer {
        font-size: 20px;
    }
    .container {
        padding-bottom: 45px;
    }
    .body {
        height: 358px;
    }
    .productWrap {
        height: 358px;
    }
    .productWrap:hover {
        height: 358px;
    }
    .chevron  {
        display: none;
    }
}

