.wrap {
    width: 100%;
    height: 460px;

    background-color: var(--white-white);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 44px;
    filter: drop-shadow(0px 0px 100px var(--blue-transparent));
}
.titleContainer {
    text-align: center;
    color: var(--dark-purple);
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.bodyContainer {
    overflow: hidden;
    width: 100%;  
    /* border: 1px solid red */
}
.body {
    height: 358px;
    transition: 0.5s;
    position: relative;
    width: fit-content;
    display: flex;
}
.productWrap {
    height: 358px;
}

@media screen and (min-width: 744px) {
    .wrap {
        height: 548px;
    }
    .titleContainer {
        font-size: 28px;
    }
    .container {
        padding-bottom: 84px;
    }
    .body {
        height: 401px;
    }
    .productWrap {
        height: 401px;
    }
}

@media screen and (min-width: 1280px) {
    .wrap {
        height: 710px;
    }
    .titleContainer {
        font-size: 36px;
    }
    .container {
        padding-bottom: 100px;
    }
    .body {
        height: 520px;
    }
    .productWrap {
        transition: 0.5s;
        height: 500px;
    }
    .productWrap:hover {
        height: 520px;
    }
    .chevron  {
        display : block;
        z-index: 1;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 250px;
    }
    .chevron svg {
        width: 100%;
        height: 100%;
    }
    .chevronRight {
        right: 5%;
    }
    .chevronLeft {
        left: 5%;
    }
}

