.productGallery{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.productGallery_mainImageContainer{
    width: 67.18vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 215px;
    min-height: 250px;
    max-width: 443px;
    max-height: 521px;
    overflow: hidden;
    background-size: contain;
}

.productGallery_mainImagesList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
}

.productGallery_mainImage{
    width: 67.18vw;
    min-width: 215px;
    min-height: 250px;
    max-width: 443px;
    max-height: 521px;
    object-fit: contain;
    border: 2px solid transparent;
}

.productGallery_gallery{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.productGallery_thumbnailsContainer{
    width: 100%;
    overflow: hidden;
}

.productGallery_thumbnailsList{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5.73%;
    transition: all 0.3s ease;
}

.productGallery_arrow{
    display: none;
}

.productGallery_thumbnail{
    cursor: pointer;
    height: 20.62vw;
    min-width: 60px;
    min-height: 66px;
    object-fit: contain;
}
