.product-overview {
    width: 100%;
    padding-block: 21px 32px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 32px;

    @media screen and (width >= 744px) {
        padding-block: 32px 43px;
        gap: 76px;
    }

    @media screen and (width >= 1280px) {
        grid-template-columns: repeat(2, 1fr);
        padding-block: 72px 80px;
        gap: 0;
    }

    @media screen and (width >= 1440px) {
        padding-block-end: 64px;
    }
}
