@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    40%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}

.productDelivery_container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    animation: fadeInOut 0.5s ease;
}

hr{
    background: #8E8E8E;
    height: 1px;
}

.productDelivery_method{
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: flex-start;
    align-items: flex-start;
}

.productDelivery_iconContainer{
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.productDelivery_info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.productDelivery_title{
    display: inline-flex;
    color: #2B2B2B;
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 700;
}

.productDelivery_description{
    color: #8E8E8E;
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
}

@media screen and (min-width: 744px){
    .productDelivery_info {
        gap: 7px;
    }
}

@media screen and (min-width: 1440px){
    .productDelivery_title{
        font-size: 16px;
    }

    .productDelivery_description{
        color: #8E8E8E;
        font-family: Noto Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
    }
}