.productCore{
    padding-top: 72px;
    padding-bottom: 64px;
}

.productCore_outerContainer{
    padding: 0 80px;
}

.productCore_container{
    display: flex;
    flex-direction: row;
    width: 100%;
}