.landingPage_button{
    display: flex;
    width: 305px;
    height: 53px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #AAC4FF;
    border: #AAC4FF;
    text-align: center;
    color: #2B2B2B;
    font-size: 16px;
    font-weight: 700;
    line-height: 16%;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.30);
}

.landingPage_button:hover{
    background-color: #84A9FC;
    border: 1px solid #84A9FC;
    transition: all 0.2s linear;
    cursor: pointer;
}

.landingPage_button:active{
    background-color: #84A9FC;
    border: 1px solid #84A9FC;
}