@keyframes expand {
    0% {
        display: none;
        scale: 1 0;
    }
    100% {
        scale: 1 1;
        display: block;
    }
}

@keyframes collapse {
    0% {
        display: block;
        scale: 1 1;
    }
    100% {
        scale: 1 0;
        display: none;
    }
}

.dropdown__header {
    display: flex;
    justify-content: space-between;
}

.dropdown__btn {
    background-color: transparent;
    height: 24px;
    transform: rotate(0deg);
    transition: transform 250ms;
}

.dropdown__btn[aria-expanded='true'] {
    transform: rotate(180deg);
}

.dropdown__title {
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;

    @media screen and (width >= 744px) {
        font-size: 20px;
    }
}

.dropdown__item {
    overflow: hidden;
    transition: all 0.5s;
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    transform-origin: top center;
}

.dropdown__header:has(.dropdown__btn[aria-expanded='false']) ~ .dropdown__item {
    animation: collapse 250ms forwards;
}

.dropdown__header:has(.dropdown__btn[aria-expanded='true']) ~ .dropdown__item {
    margin-top: 30px;
    animation: expand 250ms forwards;
}
