.orderCartContainer{
  width: 100%;
}

.orderCart {
  width: 100%;
  padding: 32px 24px;
  background-color: var(--light-blue-gray);
}

.cartTitle {
  padding-bottom: 16px;
  font-family: "Noto Sans";
  font-size: 16px;
  line-height: 20%;
  border-bottom: 1px solid #dee0e3;
}

.cartList {
  padding: 24px 0;
  border-bottom: 1px solid #dee0e3;
}

.cartListItem {
  display: flex;
  gap: 12px;
}

.cartListItem:not(:last-child) {
  margin-bottom: 20px;
}

.cartImageItem{
  object-fit: contain;
  min-width: 80px;
  min-height: 80px;
}

.cartItemDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.titleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.cartProductTitle {
  font-size: 18px;
}

.removeBtn {
  cursor: pointer;
}

.cartProductDescription {
  font-size: 14px;
  color: #707070;
}

.cartProductArticle {
  font-size: 12px;
  color: #707070;
}

.cartCounterWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartProductCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: var(--white);
}

.cartProductPriceWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 20px;
}

.discountContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0;
  border-bottom: 1px solid #dee0e3;
}

.discountItem {
  max-width: 180px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.discountText {
  font-size: 14px;
  line-height: 150%;
}

.discountText:hover{
  color: #6566AC;
}

.discountInput {
  width: 75%;
  height: 30px;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid var(--blue);
}

.discountAdd{
  color: #6566AC;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 8px;
  cursor: pointer;
}

.discountBtn:hover{
  font-weight: 500;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  border-bottom: 1px solid #dee0e3;
}

.priceElement {
  display: flex;
  justify-content: space-between;
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 150%;
}

.inner {
  display: flex;
  gap: 4px;
  font-family: "Noto Sans";
  font-size: 20px;
}

.totalPriceContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  font-family: Inter;
  font-size: 20px;
}

.safeMark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.cartCounter {
  cursor: pointer;
}

.emptyCartText {
  margin: 50px 0;
  font-size: 18px;
  text-align: center;
}

.errorMessage{
  font-size: 12px;
  color: red;
}

@media screen and (min-width: 744px){
  .cartTitle{
    font-size: 24px;
  }

  .cartImageItem{
    min-width: 90px;
    min-height: 90px;
  }

  .cartProductTitle{
    font-size: 20px;
  }

  .discountInput{
    width: 250px;
  }
}

@media screen and (min-width: 1280px) {
  .orderCartContainer{
    width: 35.23%;
  }

  .cartTitle{
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 130%;
  }

  .titleWrapper{
    align-items: center;
  }
}
