.btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 12px;
    transition: background 250ms, color 250ms;
}

.btn--secondary {
    background: #fafafa;
    color: #718096;
}

.btn--icon {
    background: transparent;
}

.btn--primary {
    background: #4d88ef;
    color: white;
}
