.mindGamesList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    padding: 20px 32px;
    border-radius: 10px;
    z-index: 10;
    background-color: #fff;
    box-shadow: rgba(170, 196, 255, 0.4) 0px 6px 20px;
}

.mindGamesList::after {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: 50%;
    border: 6px solid transparent;
    top: -15px;
    border-bottom: 10px solid #fff;
}

.mindGamesListItem {
    position: relative;
    padding: 9px 8px 9px 49px;
    border-radius: 10px;
    font-size: 16px;
    white-space: nowrap;
    
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mindGamesListItem:hover,
.mindGamesListItem:focus {
    background-color: #EEF1FF;
}

.mindGamesListLink{
        color: #000000;
}

.mindGamesIcon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 8px;
}