.product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-info__header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 24px;

    @media screen and (width >= 744px) {
        padding-bottom: 32px;
    }

    @media screen and (width >= 1280px) {
        padding-bottom: 44px;
    }

    @media screen and (width >= 1440px) {
        padding-bottom: 60px;
    }
}

.product-info__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 36px;

    @media screen and (width >= 744px) {
        gap: 32px;
        padding-bottom: 43px;
    }

    @media screen and (width >= 1280px) {
        gap: 44px;
        padding-bottom: 47px;
    }

    @media screen and (width >= 1440px) {
        gap: 56px;
    }
}

.product-info__title {
    color: #6566ac;
    font-family: Oswald;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 16px;

    @media screen and (width >= 744px) {
        font-size: 32px;
    }

    @media screen and (width >= 1280px) {
        font-size: 36px;
    }

    @media screen and (width >= 1440px) {
        font-size: 44px;
    }
}

.product-info__vendor-code {
    color: #8e8e8e;
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 400;

    @media screen and (width >= 1280px) {
        font-size: 14px;
    }
}

.product-info__pricing {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.product-info__discount-price {
    color: #2b2b2b;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 700;

    @media screen and (width >= 744px) {
        font-size: 24px;
    }

    @media screen and (width >= 1440px) {
        font-size: 32px;
    }
}

.product-info__price {
    color: #8e8e8e;
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 400;
    text-decoration-line: line-through;

    @media screen and (width >= 744px) {
        font-size: 14px;
    }

    @media screen and (width >= 1440px) {
        font-size: 20px;
    }
}

.product-info__description {
    color: #000;
    font-family: Noto Sans;
    font-size: 12px;
    text-align: justify;
    font-weight: 400;
    line-height: 150%;

    @media screen and (width >= 744px) {
        font-size: 14px;
    }

    @media screen and (width >= 1440px) {
        font-size: 16px;
    }
}

.product-info__button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    @media screen and (width >= 744px) {
        justify-content: start;
        flex-wrap: nowrap;
        gap: 40px;
    }

    @media screen and (width >= 1280px) {
        justify-content: center;
    }

    @media screen and (width >= 1440px) {
        gap: 24px;
    }
}

.product-info__btn {
    color: #2b2b2b;
    font-family: Noto Sans;
    height: 53px;
    flex: 1 1;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15),
        0 1px 2px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    @media screen and (width >= 744px) {
        flex: 0 0;
        max-width: none;
    }

    @media screen and (width >= 1440px) {
        font-size: 16px;
    }
}

.product-info__btn {
    background-color: #84a9fc;
    border-color: #84a9fc;
}

.product-info__btn--secondary {
    border: 1px solid #aac4ff;
    background-color: white;
    flex-basis: 209px;
    min-width: 209px;
    max-width: 400px;

    @media screen and (width >= 744px) {
        width: 209px;
        min-width: 209px;
    }

    @media screen and (width >= 1440px) {
        width: 225px;
        min-width: 225px;
    }
}

.product-info__btn--primary {
    background: #aac4ff;
    gap: 8px;
    min-width: 288px;
    flex-basis: 288px;
    max-width: 400px;

    @media screen and (width >= 744px) {
        width: 304px;
        min-width: 304px;
    }
}
