.catalog{
    padding-bottom: 48px;
}

.catalog_breadcrumbs{
    display: none;
}

.catalog_header{
    display: none;
}

.catalog_mainContainer{
    padding-top: 24px;
}

.catalog_displaying{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.catalog_searchTerm{
    font-size: 12px;
    margin: 10px 0 -5px 0;
    color: #8e8e8e;
    font-family: Noto Sans;
}

.catalog_empty{
    color: #000;
    font-family: "Noto Sans";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
}

.catalog_pagination{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

@media screen and (min-width: 1280px){
    .catalog{
        padding-bottom: 120px;
    }

    .catalog_breadcrumbs{
        display: block;
        margin: 26px 0 52px 0;
    }

    .catalog_header{
        background-color: var(--light-blue-gray);
        height: 140px;
        display: flex;
        align-items: center;
        padding-left: 108px;
        margin-top: -56px;
    }

    .catalog_searchTerm{
        font-size: 18px;
        margin: 15px 0 -10px 0;
    }

    .catalog_pageTitle{
        color: #000;
        font-family: Oswald;
        font-size: 36px;
        font-weight: 400;
    }

    .catalog_mainContainer{
        display: flex;
        flex-direction: row;
        padding-top: 43px;
        gap: 105px;
    }

    .catalog_displaying{
        width: 74.68%;
        gap: 33px;
    }

    /*.catalog_empty{*/
    /*    color: #000;*/
    /*    font-family: "Noto Sans";*/
    /*    font-size: 24px;*/
    /*    font-weight: 400;*/
    /*    text-align: center;*/
    /*    padding-top: 50px;*/
    /*}*/

    .catalog_pagination{
        /*display: flex;*/
        /*justify-content: center;*/
        padding-top: 82px;
    }
}