.pageWrapper {
  padding: 62px 80px 120px 80px;
}

.blocksWrapper {
  display: flex;
  gap: 128px;
}

.title {
  width: 1280px;
  padding: 53px 108px;
  margin-bottom: 62px;
  font-family: "Oswald";
  font-size: 44px;
  font-weight: 400;
  background-color: var(--light-blue-gray);
}

.decription {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.advantagesTitle {
  margin-top: 54px;
  font-family: "Oswald";
  font-size: 28px;
  font-weight: 500;
}

.advantagesList {
  width: 630px;
  display: flex;
  gap: 54px;
  justify-content: center;
  padding-top: 23px;
  padding-bottom: 38px;
  margin-top: 24px;
  background-color: var(--light-blue-gray);
}

.advantagesItem {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.advantagesText {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 16px;
}

.featureList {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
}

.featureItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.feature {
  /* font-family: 'Oswald'; */
  font-size: 36px;
  font-weight: 600;
  color: var(--dark-purple);
}

.addressBlock,
.contactsBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 54px;
}

.addressBlockTitle,
.contactsBlockTitle {
  font-family: "Oswald";
  font-size: 24px;
}

.addressBlockText {
  font-size: 14px;
  line-height: 150%;
}

.addressList {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--dark-purple);
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contactsText {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
}

.contactsLink {
  font-weight: 700;
  font-size: 14px;
  color: var(--dark-purple);
}

.teamImg {
  width: 522px;
  height: 681px;
}

.teamBlockTitle {
  margin-top: 54px;
  margin-bottom: 34px;
  font-family: "Oswald";
  font-size: 24px;
}

.teamBlockBtn {
  width: 305px;
  height: 53px;
  padding: 20px 56px;
  border-radius: 10px;
  background: var(--blue);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 16%;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.teamBlock {
  position: relative;
}

.icon {
  width: 306px;
  height: 284px;
  position: absolute;
  left: 250px;
  bottom: 215px;
}
