.container {
    display: flex;
    width: 100%;
    height: 53px;
    padding: 14px 16px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid var(--blue);
    background: var(--white);
} 
.icon {
    width: 24px;
    height: 24px;
}
.icon svg {
    width: 100%;
    height: 100%;
}
.title {
    color: var(--black);
    
    /* Body Medium Medium 16px */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
@media screen and (max-width: 834px) {
    .container {
        padding: 14px;
        height: 44px;
    }
    .title {
        font-size: 14px; 
    }
    .icon {
        width: 21px;
        height: 21px;
    }
}