.question{
    padding: 20px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 0.6px solid #DEDADA;
}

.question:hover{
    background-color: #F1F5FE;
}

.question_leftPart{
    display: flex;
    align-items: center;
    gap: 32px;
}

.question_actions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.question_actions span{
    width: 20px;
    height: 20px;
    border: 1px solid #D2DAFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question_checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checked{
    background-color: #AAC4FF;
}

.question_name{
    color: #1E1E1E;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 700;
}

.question_centerPart{
    width: 414px;
}

.question_text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 400;
}

.question_time{
    color: #000;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 400;
}